doctype 5
html
	head
		title 
			if title
				Helios 3D &bull; Control Center &bull; #{title}
			else
				Helios 3D &bull; Control Center
		
		block stylesheets
			link(rel='stylesheet', href='/stylesheets/foundation.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
		
		block scripts
			script(src='/javascripts/modernizr.foundation.js')
		
		meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
		meta(name="viewport", content="width=device-width")
		meta(charset="utf-8")
	body
		.row
			header.six.columns
				img(src='/images/logo.png', alt='Helios 3D logo')
			nav.six.columns
				ul.nav-bar.right
					li
						a(href='/') Home
					li
						a(href='/videos/') Videos
					li
						a(href='/util/') Utilities
					li
						a(href='/config/') Configuration
		
		.row
			section#content.eight.columns
				block content
			
			aside#sidebar.three.columns.offset-by-one
				block sidebar
			
				
			
					
